name: non_fatal
description: Crash and error tracking for DebugHub
version: 1.0.0
publish_to: 'none'

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  base:
    path: ../base

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.3
